@model Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-lg-9">
        <section class="panel">
            <header class="panel-heading">
                    Kategori Ekle
                </header>
            <div class="panel-body">
                @Html.Partial("~/Areas/Admin/Views/Shared/Partial/FormMessage.cshtml")
                @Html.Partial("~/Areas/Admin/Views/Category/Partial/CategoryForm.cshtml")
            </div>
        </section>
    </div>
</div>