<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="~/Areas/Admin/Content/img/favicon.png">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Areas/Admin/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Areas/Admin/Content/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Areas/Admin/Content/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Areas/Admin/Content/css/owl.carousel.css" type="text/css">
    <link href="~/Areas/Admin/Content/assets/advanced-datatable/media/css/demo_page.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Areas/Admin/Content/css/style.css" rel="stylesheet">
    <link href="~/Areas/Admin/Content/css/style-responsive.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Content/custom/deleteRecortTable.js"></script>
    <script src="~/Areas/Admin/Content/assets/advanced-datatable/media/js/jquery.js"></script>
    <script src="~/Areas/Admin/Content/js/jquery.js"></script>
    <script src="~/Areas/Admin/Content/js/jquery-1.8.3.min.js"></script>
    <script src="~/Areas/Admin/Content/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="~/Areas/Admin/Content/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/Areas/Admin/Content/js/jquery.scrollTo.min.js"></script>
    <script src="~/Areas/Admin/Content/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/assets/advanced-datatable/media/js/jquery.dataTables.js"></script>
    <script src="~/Areas/Admin/Content/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Content/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/Areas/Admin/Content/js/owl.carousel.js"></script>
    <script src="~/Areas/Admin/Content/js/jquery.customSelect.min.js"></script>



    <script class="include" type="text/javascript" src="~/Areas/Admin/Content/js/jquery.dcjqaccordion.2.7.js"></script>

    <!--common script for all pages-->
    <script src="~/Areas/Admin/Content/js/common-scripts.js"></script>
    <script src="~/Areas/Admin/Content/js/respond.min.js"></script>
    <script src="~/Areas/Admin/Content/js/editable-table.js"></script>
    <!--script for this page-->
    <script src="~/Areas/Admin/Content/js/sparkline-chart.js"></script>
    <script src="~/Areas/Admin/Content/js/easy-pie-chart.js"></script>
    <script src="~/Areas/Admin/Content/js/count.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Areas/Admin/Content/js/jquery.stepy.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="~/Areas/Admin/Content/js/html5shiv.js"></script>
      <script src="~/Areas/Admin/Content/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <section id="container">
        <!--header start-->
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
            </div>
            <!--logo start-->
            <a href="/Admin/AdminHome/Index" class="logo">Admin<span>Panel</span></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <!-- inbox dropdown end -->
                    <!-- notification dropdown start-->
                    <!-- notification dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-nav ">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <li>
                        <input type="text" class="form-control search" placeholder="Ara">
                    </li>
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" src="~/Areas/Admin/Content/img/avatar1_small.jpg">
                            <span class="username">Ömer Deniz</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li><a href="#"><i class=" icon-suitcase"></i>Profile</a></li>
                            <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
                            <li><a href="@Url.Action("Logout","AdminHome",null)"><i class="icon-key"></i>Çıkış Yap</a></li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="#">
                            <i class="icon-dashboard"></i>
                            <span>İşlemler</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="/Admin/Category/Index/">
                            <i class="icon-th"></i>
                            <span>Kategoriler</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/Admin/Category/AddCategory/">Kategori Ekle</a></li>
                        </ul>
                        <ul class="sub">
                            <li><a href="/Admin/Category/GetAllCategories/">Tüm Kategoriler</a></li>
                        </ul>
                        <ul class="sub">
                            <li><a href="/Admin/Category/GetDeletedCategories/">Silinen Kategoriler</a></li>
                        </ul>
                        <ul class="sub">
                            <li><a href="/Admin/Category/GetUpdatedCategories/">Güncellenen Kategoriler</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-cogs"></i>
                            <span>Özellikler</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/Admin/EntityAttribute/Index/">Aktif Özellikler</a></li>
                            <li><a href="/Admin/EntityAttribute/GetAllEA/">Tüm Özellikler</a></li>
                            <li><a href="/Admin/EntityAttribute/AddEA/">Özellik Ekle</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-shopping-cart"></i>
                            <span>Ürünler</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/Admin/Product/Index/">Tüm Ürünler</a></li>
                            <li><a href="/Admin/Product/GetActiveProduct/">Aktif Ürünler</a></li>
                            <li><a href="/Admin/Product/GetPassiveProduct/">Silinen Ürünler</a></li>
                            <li><a href="/Admin/Product/AddProduct/">Ürün Ekle</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
            </section>
        </section>
        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer">
            <div class="text-center">
                2020 &copy; E-Ticaret Admin Panel
                <a href="#" class="go-top">
                    <i class="icon-angle-up"></i>
                </a>
            </div>
        </footer>
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->



    <script>

      //owl carousel

      $(document).ready(function() {
          $("#owl-demo").owlCarousel({
              navigation : true,
              slideSpeed : 300,
              paginationSpeed : 400,
              singleItem : true,
			  autoPlay:true

          });
      });

      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

    </script>
    <script type="text/javascript" charset="utf-8">
$(document).ready(function() {
              $('#example').dataTable( {
                  "aaSorting": [[ 4, "desc" ]]
              } );
          } );</script>
    


</body>
</html>
