
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterOk</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-1.8.3.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
</head>
<body>
    <div> 
        <h2>Tebrikler Kayıt Oldunuz. Lütfen E-Mail adresinize gönderdiğimiz aktivasyon linkine tıklayarak hesabınızı aktif hale getiriniz. </h2>
    </div>
</body>
</html>
<script>
    $(function(){
    setTimeout(function(){
    window.location="/Home/Login";
    },5000)
    })
</script>