@model List<EntityAttribute>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Özellikler
            </header>
            @Html.Partial("~/Areas/Admin/Views/EntityAttribute/Partial/EAList.cshtml")
        </section>
    </div>
</div>
